# Convert Rows to JSON

In [1]:
import pandas as pd
import json

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [4]:
filename = os.path.join("..", "data", "my_df.csv")

In [25]:
def json_path(i):
    return os.path.join("..", "data", "JSON", f"{i}.json")

## Attempt

In [7]:
df = pd.read_csv(filename)

In [8]:
df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,death_rate_Alzheimer's disease,death_rate_Cancer,death_rate_Heart disease,death_rate_Unintentional injuries,death_rate_All causes,death_rate_Influenza and pneumonia,death_rate_Suicide,death_rate_Kidney disease,death_rate_CLRD,death_rate_Diabetes
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727,...,23.994737,184.521053,228.531579,37.631579,821.4,17.089474,11.773684,15.136842,44.742105,25.236842
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434,...,23.994737,184.521053,228.531579,37.631579,821.4,17.089474,11.773684,15.136842,44.742105,25.236842
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547,...,23.994737,184.521053,228.531579,37.631579,821.4,17.089474,11.773684,15.136842,44.742105,25.236842
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547,...,23.994737,184.521053,228.531579,37.631579,821.4,17.089474,11.773684,15.136842,44.742105,25.236842
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097,...,23.994737,184.521053,228.531579,37.631579,821.4,17.089474,11.773684,15.136842,44.742105,25.236842

In [27]:
for index, row in df.iterrows():
    # Convert row to JSON
    row.to_json(json_path(index))
print("All JSONs completed in ../data/JSON/")

All JSONs completed in ../data/JSON/